.page-center {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.bg-black {
    background-color: var(--black);
}
.flex {
    display: flex;
}
.text-large {
    font-size: 1.5rem;
    line-height: 2.0rem;
    font-weight: 600;
}
.hamburger {
    width: 40px;
    height: 40px;
    padding-block: .5rem;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.hamburger .first,
.hamburger .second,
.hamburger .third {
    height: 4px;
    background-color: #90EE90;
    border-radius: 1rem;
    width: 30px;
}
.hamburger.open .first {
    transform: translateY(10px) rotate(45deg);
}
.hamburger.open .second {
    width: 0;
}
.hamburger.open .third {
    transform: translateY(-10px) rotate(-45deg);
}
.action-btn {
    display: flex;
    justify-content: center;
    padding: 16px 38px;
    background-color: var(--black);
    color: #90EE90;
    border-radius: 14px;
}
.h-text {
    color: var(--green-text)
}
.text-center {
    text-align: center;
}
@media (max-width: 991.99px) {
    .dropdown-box svg {
        transform: rotate(-90deg);
    }
    .dropdown-box.open svg {
        transform: rotate(0);
    }
    .dropdown-items-box {
        height: 0;
        overflow: hidden;
    }
    .dropdown-items, .nav-links, .nav-groups {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .nav-links, .nav-groups {
        gap: 1rem;
    }
    .dropdown-items {
        padding-left: 1rem;
    }
    .fixed-nav {
        width: 100%;
        position: fixed;
        transform: translateX(-200%);
        background: var(--white);
        left: 0;
        padding-bottom: 3rem;
        z-index: 100;
    }
    .fixed-nav.open {
        transform: translateX(0);
    }
    .nav-groups {
        width: 90%;
        margin: auto;
    }
}
@media (min-width: 992px) {
    .text-large {
        font-size: 40px;
        line-height: 2.5rem;
    }
    .hamburger {
        display: none;
    }
    .dropdown-box {
        position: relative;
    }
    .dropdown-items-box {
        position: absolute;
        height: auto !important;
        left: 0;
        top: 1.5rem;
        padding: 1rem;
        width: 100px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        visibility: hidden;
    }
    .dropdown-box:hover .dropdown-items-box {
        visibility: visible;
    }
    .dropdown-box:hover svg {
        transform: rotate(180deg);
    }
}